@section Scripts {
    <script>
        function checkAnswers() {
            var correct = 0;


            

            $('input[type="text"]').each(function () {

                $(this).attr("readOnly", true);

                console.log($(this).prop('value'));
                console.log($(this).data('answer'));

                if ($(this).prop('value') == $(this).data('answer')) {
                    $(this).parent().parent().addClass("bg-success");
                    correct++;
                } else {
                    $(this).parent().parent().addClass("bg-danger");
                }
            });

            $('p').each(function () {
                $(this).css('display', 'inline');
            });


            $('#score').text(correct);
            $('#score').parent().show();
        }

        function reload() {
            location.reload();
        }
    </script>
}
<link rel="stylesheet" href="~/css/Fonts/stylesheet.css" />

<h2>Fill in the blanks</h2>
<h2>Surah @Model.EN_Name</h2>
<div class="mt-5"></div>
<h2 style="display: none;">Score: <b id="score"></b><b>/@Model.Questions.Length</b></h2>
@for (int i = 0; i < Model.Questions.Length; i++)
{
    <div class="row mt-3">
        <div class="col">
            <h4>Ayat @Model.Questions[i].TextAyat</h4>
            <h3 class="quran">@Model.Questions[i].Text</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-check-inline">
                        <label for="@i">Type the word here:</label>
                        <input type="text" id="@i" class="form-control quran" data-answer="@Model.Questions[i].Choices[0]" />
                    </div>
                </li>
                @{string id = "answer" + i;}

            </ul>
            <p id="@id" style="display: none;">Correct Answer: <b>@Model.Questions[i].Choices[0]</b></p>
        </div>
    </div>
}

<div class="row mt-3">
    <div class="col text-center">
        <button class="btn btn-primary" onclick="checkAnswers()">Submit</button>
    </div>
    <div class="col text-center">
        <button class="btn btn-primary" onclick="reload()">Try Again</button>
    </div>
</div>